

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');


:root {

    --background: #f6f8f9;
    --task-editorial: #47adf1;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--task-editorial);
}

#header {

    background-color: white;
    height: 130px;
}

#logo {

    height: 95px;
    display: inline;
    vertical-align: middle;
    padding-right: 0,5rem;
}

#logo-name {

    font-family: "Roboto", serif;
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    vertical-align: middle;
    display: inline;

}

.logo-complete {

    padding-left: 1rem;
    padding-top: 1rem;

}